@import url('https://fonts.googleapis.com/css?family=Exo+2');
body{
	background-color: #f3f3f3 !important;
}
.spacer{
	padding: 10px;
	width: 100%;
	display: inline-block;
}
.btn-warning-white {
  color: #fff !important;
}
a{
	cursor: pointer;
}
a:hover{
	text-decoration: none!important;
}
.image-center{
	margin-right: auto;
	margin-left: auto;
	display: block;
}
.badge{
	cursor: pointer;
}

/* ---- HEADER ---- */

.header-contato{
	width: 100%;
	text-align: center;
	color: #fff;
	background-color: #00a5df;
	padding: 5px;
	font-size: 16px;
}
.header{
	width: 100%;
	background: #fff;
	height: 100px;
	padding-left: 15%;
	padding-right: 15%;
	background-image: url("../images/bg-header.png");
}
.logo-header{
	padding-top: 20px;
	padding-bottom: 20px;
	float: left;
}
.menu-header{
	float: right;
	height: 100%;
}
nav {
	width: auto;
	text-align: center;
	height: 50px;
	padding-top: 25px;
	padding-bottom: 25px; 
}
.menu > li{
	padding: 20px 10px 10px 10px;
	color: #333 !important ;
	font-size: 1.3em;
	width: auto;
	float: left;
	font-weight: bold;
	margin-left: 5px;
	margin-right: 5px;
	-webkit-transition: width 2s linear 1s;
    transition: width 2s linear 1s;
    list-style: none;
}
.ism-slider li.ism-slide:hover{
	transition: .2s;
    -webkit-transition: .2s;
    transform: scale(1);
}
.nav-item:hover{
transform: scale(1);
}
li:hover{
	color: #00a5df;
	transition: .2s;
    -webkit-transition: .2s;
    transform: scale(1.02)
}
.item-solution:hover{
	transition: .2s;
	-webkit-transition: .2s;
    transform: scale(1.1)
}
.sub-menu{
	display: none;
	list-style: none;
	border-top: 2px solid #00698e;
	padding: 5px 10px;
	width: 200px;
	position: absolute;
	color: #fff;
	background-color: #00a5df;
	text-align: center;
	margin-top: 10px;
	font-size: 0.7em;
	border-radius: 0px 0px 10px 10px;
	text-align: left;
	z-index: 9999;
}
.sub-menu > li{
	margin-bottom: 5px;
	margin-top: 5px;
}
.sub-menu a > li{
	color: #fff;
	padding: 5px;
	border-bottom: 1px solid #0089b9;
}
.menu li:hover > .sub-menu{
	display: block;
	color: #fff;
}
.sub-menu li:hover{
	color: #fff;
}
.black{
	color: #000;
}
.black:hover{
	color: #00a5df;
}
.clearfix:after{
    content: '.';
    display: block;
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0;
    visibility: hidden;
    overflow: hidden;
}
p{
	color: #888;
	font-size: 1.1em;
}
li{
	color: #888;
	font-size: 1.1em;
}

/* ---- FIM HEADER ---- */


.section{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.title-section{
	font-size: 3em;
	font-weight: bold;
	border-bottom: 3px solid #ddd;
	padding: 25px;
	color: #444;
	text-align: center;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}
.blue-title{
	color: #00a5df;
}
.section-center{
	width: auto;
	height: auto;
	margin-top: 50px;
	text-align: center;
}
.item-solution{
	width: 200px;
	height: auto;
	margin-right: 25px;
	margin-left: 25px;
	border-radius: 10px;
	display: inline-table;
}
.img-solution{
	max-width: 200px;
	height: auto;
	margin-bottom: 5px;
	border-radius: 10px;
	text-align: center;
}
.text-solution h3{
	font-size: 1.2em;
	text-align: center;
	padding: 5px;
	color: #00a5df;
	margin-bottom: 0px;
	border-bottom: 2px solid #00a5df;
}
.text-solution p{
	font-size: 1em;
	text-align: left;
	color: #888;
	padding: 5px;
}
.text-solution-solucoes p{
	font-size: 1em;
	text-align: left;
	color: #888;
	padding: 5px;
}
.text-solution-solucoes h3{
	font-size: 1.2em;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #00a5df;
	height: 50px;
	margin-top: 5px;
	margin-bottom: 0px;
	border-bottom: 2px solid #00a5df;
}
nav{
	z-index: 1000;
}
.item-aidc{
	text-align: center;
	width: 100%;
	padding: 50px;
	cursor: pointer;
}
.site-survey{
	background-image: url(../images/sitesurvey-banner.jpg);
	background-size: 100%;
	background-position: center;
	transition: all .3s ease-in-out
}
.aps{
	background-image: url(../images/aps-banner.jpg);
	background-size: 100%;
	background-position: center;
	transition: all .3s ease-in-out;
}
.aps:hover{
	background-size: 110%;
}
.leitor{
	background-image: url(../images/leitor-banner.jpg);
	background-size: 100%;
	background-position: center;
	transition: all .3s ease-in-out;
}
.leitor:hover{
	background-size: 110%;
}
.impressora{
	background-image: url(../images/impressora-banner.jpg);
	background-size: 100%;
	background-position: center;
	transition: all .3s ease-in-out;
}
.impressora:hover{
	background-size: 110%;
}
.coletor{
	background-image: url(../images/coletor-banner.jpg);
	background-size: 100%;
	background-position: center;
	transition: all .3s ease-in-out;
}
.coletor:hover{
	background-size: 110%;
}
.wms{
	background-image: url(../images/wms-banner.jpg);
	background-size: 100%;
	background-position: center;
	transition: all .3s ease-in-out;
}
.wms:hover{
	background-size: 110%;
}
.comodato{
	background-image: url(../images/comodato-banner.jpg);
	background-size: 100%;
	background-position: center;
	transition: all .3s ease-in-out;
}
.rfid{
	background-image: url(../images/rfid-banner.jpg);
	background-size: 100%;
	background-position: center;
	transition: all .3s ease-in-out;
}
.rfid:hover{
	background-size: 110%;
}
.voz {
background-image: url(../images/voz-banner.jpg);
	background-size: 100%;
	background-position: center;
	transition: all .3s ease-in-out;
}
.voz:hover{
	background-size: 110%;
}
.comodato:hover{
	background-size: 110%;
}
.locacao{
	background-image: url(../images/locacao-banner.jpg);
	background-size: 100%;
	background-position: center;
	transition: all .3s ease-in-out;
}
.locacao:hover{
	background-size: 110%;
}
.site-survey:hover{
	background-size: 110%;
}
.rastreabilidadecodbarras{
	background-image: url("../images/solucoes/rastreabilidadecod.jpg");
	background-size: 100%;
	background-position: center;
	transition: all .3s ease-in-out;
}
.rastreabilidadecodbarras:hover{
	background-size: 110%;
}
.selfcheckout{
	background-image: url("../images/solucoes/selfcheckout.jpg");
	background-size: 100%;
	background-position: center;
	transition: all .3s ease-in-out;
}
.selfcheckout:hover{
	background-size: 110%;
}
.pdv{
	background-image: url("../images/solucoes/pdv.jpg");
	background-size: 100%;
	background-position: center;
	transition: all .3s ease-in-out;
}
.pdv:hover{
	background-size: 110%;
}
.title-item-aidc{
	font-size: 3rem;
	color: #00bdff;
	text-shadow: 0px 0px 50px #000;
	width: auto;
	font-weight: bolder;
}
.text-item-aidc{
	font-size: 1.2rem;
	color: #fff;
	text-shadow: 0px 0px 20px #000;
}
.line{
	margin-top: 25px;
	margin-bottom: 25px;
	width: 100%;
	height: 3px;
}
.produto-box{
	width: 1000px;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    justify-content: center;
    display: table;
}
.item-produto{
	width: 200px;
	height: 250px;
	padding: 10px;
	float: left;
}
.item-produto h3{
	font-size: 1rem !important;
}
.solucoes-box{
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	height: 350px;
	justify-content: center;
	display: flex;
}
.item-solucoes{
	width: 300px;
	height: 250px;
	padding: 10px;
}
.item-solucoes:hover{
	transition: .2s;
    -webkit-transition: .2s;
    transform: scale(1.1);
}
.item-produto-img{
	width: 100%;
	height: auto;
	border-radius: 10px;
	background-color: #fff;
	padding: 15px;
}
.item-solucoes-img{
	width: 100%;
	height: 150px;
	border-radius: 10px;
	background-color: #fff;
}
.section-services{
	height: 100px;
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	color: #333;
	text-align: center;
}
h4{
	font-size: 1.2rem !important;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
	    line-height: 2 !important;
}
.item-services{
	color: #333;
	padding: 10px;
	width: 375px;
	float: left;
	margin-left: 50px;
	margin-bottom: 15px;
	border: 2px solid #333;
	border-radius: 10px;
	float: right;
	-webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}
.img-services{
	float: left;
	display: inline-table;
	width: 375px;
	height: auto;
}
.item-services:hover{
	color: #fff;
	background-color: #00a5df;
	border-color: #00a5df;
	transition: .2s;
    -webkit-transition: .2s;
}
.solucao-item-horizontal{
	width: 100%;
	height: 250px;
	padding-left: 10%;
	padding-right: 10%;
	margin-top: 25px;
}
.img-sitesurvey{
	background-image: url("../images/sitesurvey-banner.jpg");
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
}

/* ---- CSS SLIDER ---- */

#my-slider{
	z-index: -1;
}
.img-carousel{
	float: left;
}

.title-slider{
	padding: 0px 0px 10px 0px;
	margin-bottom: 5px;
	color: #fff;
	line-height: 1;
	width: 80%;
	font-size: 2.5rem;
	display: inline-block;
}
.text-slider{
	font-size: 1em;
	padding: 5px;
	color: #fff;
	font-size: 1.1rem;
	display: inline-block;
}
footer{
	background-color: #00a5df;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 25px;
	height: 200px;
	padding-bottom: 25px;
}
.item-footer{
	height: auto;
	width: auto;
	color: #fff;
	padding: 0px 0px 40px 40px;
	text-align: left;
	float: left;
	height: 150px;
}

.link-footer{
	color: #fff;
}
.final-footer{
	width: 100%;
	padding: 10px;
	text-align: center;
	color: #fff;
	background-color: #00749c;
}
.title-clientes{
	width: 100%;
	font-size: 1.3em;
	text-align: center;
	color: #ccc;
	padding: 25px;
	margin-bottom: 25px;
}
.link-social{
	color: #fff;
}
.img-quemsomos{
	width: 500px;
	float: left;
}
.texto-quemsomos{
	float: right;	
}
.left{
	width: 50%;
	height: auto;
	float: left;
	margin-top: 25px;
}
.right{
	float: left;
	width: 50%;
	padding: 25px;
	margin-top: 25px;
}
.section-quemsomos{
	width: 80% !important;
	margin-right: auto;
	margin-left: auto;
	display: flex;
}
.title-slider{
	color: #00bdff;
	border-bottom: none;
	text-shadow: 0px 0px 30px #000;
}
.text-slider{
	color: #fff;
	border-bottom: none;
	text-shadow: 0px 0px 10px #000;
	text-transform: uppercase;
}
h3{
	color: #00a5df !important;
	border-bottom: 2px solid #00a5df;
	font-size: 1.3rem !important;
}
.button{
	background-color: #00a5df;
	border-radius: 10px;
	color: #fff;
	text-align: center;
	padding: 10px;
}
.blue-background{
	background-color: #f9f9f9 !important;
}
.ui.form .field > label{
	color: #00a5df;
}
.ui.button{
	background-color: #00a5df;
	color: #fff;
}
.ui.button:hover{
	background-color: #0084b3;
	color: #fff;
}

/* MEDIA QUERIES */
/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
.header-contato{
	font-size: 0.5em;
	height: auto;
}
.section-quemsomos > .left{
	display: none;
}
.produto-box{
	display: block;
	height: auto;
	width: auto;
}
.item-produto{
	height: auto;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    float: none;
}
.loja{
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	float: none !important;
	display: block;
}
.dropdown-item{
	padding: 0rem 1rem;
	white-space: normal!important;
	font-size: 0.8rem!important;
}
.nav-link{
	border-bottom: 1px solid #e2e2e2;
}
.navbar{
	padding: 2.5rem 2rem !important;
}
nav{
	height: auto !important;
}
.form-inline{
	display: block !important;
}
.carousel{
	display: none;
}
.spacer{
	padding: 0px;
}
.badges{
	margin-bottom: 15px;
}
.item-solution{
	width: 200px;
	margin-left: 0px;
	margin-right: 0px;
}
.img-solution{
	max-width: 300px;
}
.header{
	padding-left: 0px;
	padding-right: 0px;
	text-align: center;
}
.menu > li{
	display: inline-table;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 85%;
	border-radius: 10px;
	background-color: #00a5df;
	border: 1px solid #d9d9d9;
}
.black{
	color: #fff;
}
.title-section{
	font-size: 2em;
}
.img-services{
	display: none;
}
.section-services{
	width: auto;
	height: auto;
}
.item-services{
	float: left;
	margin-right: 5%;
	margin-left: 5%;
	width: 90%;
}
footer{
	text-align: center !important;
	display: none !important;
}
.item-footer{
	padding: 0px 0px 20px 20px;
	display: inline-table;
}
#my-slider{
	display: none;
}
.logo-header{
	    margin-left: auto;
    text-align: center;
    margin-right: auto;
    float: none;
}
.menu-header{
	float: none;
}
.final-footer{
	font-size: 0.8em;
}
.left{
	float: none;
	width: 100%;
}
.right{
	float: left;
	width: 100%;
}
.texto-quemsomos{
	float: none;
}
.maps{
	width: 100%;
}
.left > .img-quemsomos{
	display: none;
}
.left > .img-site-survey{
	display: none;
}
.title-section{
	line-height: 1;
}
#jssor_1{
	width: auto !important;
}
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {

	.header{
		padding-left: 5%;
		padding-right: 5%;
	}
	.navbar{
		padding: .5rem 1rem !important;
	}
	.img-site-survey{
		width: 100%;
	}
	.menu > li {
	display: inline-table;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 0.9em;
	padding-top: 20px;
	}
	footer{
		font-size: 0.8em;
	}

}
@media only screen and (min-device-width : 1920px){
	.left{
		width: auto;
	}
}
/* EDIÇÃO DO BOOTSTRAP */
.navbar{
	padding: 2rem 10rem;
}
.btn-primary{
	background-color: #00a5df !important;
}
.btn-primary:hover{
	background-color: #0083b1 !important;
}
.navbar-brand{
	margin-right: 3rem;
}